/* Common Section */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
body{
    width: 85%;
    margin: auto;    
    background-color: #f1f2f6;
}

/* Top Banner Section */
.top-banner{
    display: flex;
    align-items: center;
       
}
.banner-text{
    padding-right: 18%;
}
.banner-text h1{
    font-size: 62px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.highlighted-text{
    color: #1e90ff;
}
.banner-text p{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}
.banner-text a{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #1e90ff;
    padding: 10px 25px;
    display: inline-block;
    margin: 10px 0;
    box-shadow: grey 10px 10px 15px;
    transition: 0.5s;
}
.fa-angle-right{
    visibility: hidden;
}
.banner-text a:hover {
    transform: translate(0,-5px);
    box-shadow: rgb(99, 98, 98) 12px 12px 18px;
}
.banner-text a:hover .fa-angle-right{
    visibility: visible;
    transition: visibility(2000);
}

/* Branding Partner Section */
.branding-partners{
    margin: 10% 0;
    padding: 3% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #dfe4ea;
    border-bottom: 1px solid #dfe4ea;
    flex-wrap: wrap;
}
.brand-logos{
    margin: 2% 2%;
    cursor: pointer;
}
.brand-logos:hover{
    transform: scale(1.1);
}

/* New Arrival's Section */
#new-arrivals {
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-family: 600;
}
.new-arrivals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 55px;
    margin: 5% 0;
}
.products{
    background: white;
    padding: 1.5%;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 12px grey;
    width: fit-content;
}
.photo-frame{
    overflow: hidden;
    cursor: pointer;
    }
.photo-frame:hover img{
    transform: scale(1.5);
    transition: transform 1.8s;
}
.fa-star, .fa-star-half-alt{
    color: goldenrod;
    margin: 0 1%;
}
.new-arrivals h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
}
.new-arrivals p{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}
.ratings{
    font-weight: 900;
}
.rating-number{
    margin: 0 2%;
    background-color: #fdc4c4;
    color: red;
    padding: 2px 10px;
    border-radius: 10px;    
}
.buy-now-button{
    text-align: center;
    margin: 5% 0;
}
.new-arrivals a{    
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #1e90ff;
    padding: 5px 25px;
    display: inline-block;
    margin: 10px;
    box-shadow: grey 10px 10px 15px;
    transition: 0.5s;
}
.new-arrivals a:hover {
    transform: translate(0,-5px);
    box-shadow: rgb(99, 98, 98) 12px 12px 18px;
}
.new-arrivals .fa-caret-right{
    display: none;
}
.new-arrivals a:hover .fa-caret-right{
    display: inline-block;
}